.slots {
  background-color: rgb(170, 170, 255);
  margin: 2rem;
  padding: 10vw;
  text-align: center;
}

#slots {
  font-size: calc(2vw + 2vh + 1vmin);
}

#bet {
  text-align: center;
  display: flex;
  width: 50%;
  align-self: center;
}

.imput {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
